.table {
    border-collapse: collapse;
}

.table__cell {
    border: 2px solid rgb(29, 26, 26);
    padding: 10px;
    text-align: center;
}

.table__cell--rowHeader {
    background-color: crimson;
    color: azure;
}

.table__cell--colHeader {
    background-color: crimson;
    color: azure;
}